@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	@apply bg-blue-50;
}

.waypoint-marker {
	@apply bg-slate-600 text-white rounded-md drop-shadow-lg !flex items-center justify-between px-2 text-2xl;
	margin-top: -56px !important;
	font-family: 'Inter', sans-serif;

	&::after {
		@apply w-0 h-0 absolute -bottom-2 left-1/2 -ml-2 border-solid border-transparent border-t-slate-600;
		content: '';
		border-width: 8px 8px 0 8px;
	}

	&__km {
		@apply w-full text-center text-lg font-semibold;
		font-feature-settings: 'ss01' 1;
	}
}
